<section class="card">
  <a href="/topic/{{id}}">
    <header>{{title}} 
      <p class="headerInfo">Posted by {{user.username}} on {{createdAt}}</p>
    </header>
    <p>{{content}}</p>
  </a>
</section>